{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit {{catalog.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form  action="{{url_for('editCatalog', catalog_id = catalog.id)}}" method="post">
					<div class="form-group">
							<label>Name:</label>
							<input name="name" type="text" class="form-control" value="{{catalog.name}}">

					</div>
		  <button type="submit" class="btn btn-primary btn-block">Save</button>
			</form>
			<a href="{{url_for('showMenu', catalog_id=catalog.id)}}">
					<button class="btn btn-danger btn-block">Cancel</button>
			</a>
		</div>
	</div>
{% endblock %}
