{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Menu Item</h1>
		</div>
	</div>
	<div class='flash'>
		{% with messages = get_flashed_messages() %}
				{% if messages %}
		<ul>
				{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
		</ul>
			 {% endif %}
		{% endwith %}
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4">
			<form action="{{ url_for('newMenuItem',catalog_id = catalog.id)}}" method="post">
					<div class="form-group">
							<label>Name:</label>
							<input name="name" type="text" class="form-control" placeholder="Name of category">
							<label>Description:</label>
							<textarea name="description" class="form-control" placeholder="Description of category"></textarea>
							<label>Price:</label>
							<input name="price" type="text" class="form-control" placeholder="Price of category">
							<label>Course:</label>
							<select name="category" multiple class="form-control" required>
									<option>Appetizer</option>
									<option>Entree</option>
									<option>Dessert</option>
									<option>Beverage</option>
							</select>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Create</button>
			</form>
			<a href="{{ url_for('showMenu',catalog_id = catalog.id)}}">
					<button name="cancel" class="btn btn-danger btn-block">Cancel</button>
			</a>
	</div>
	<div class="col-md-4"></div>

{% endblock %}
